<!--
<table  class="table table-striped table-bordered" id = "datatable">
    <thead class = "thead-info">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Rollno</th>
            <th scope="col">Status</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    {% for data in result_data %}
    <tr>
        <td>{{data.user.username}}</td>
        <td>{{data.user.userid}}</td>
        <td>{{data.status}}</td>
        <td>{{data.timestamp}}</td>
    </tr>
    {% endfor %}
</table>-->
<table id = "datatable" class = "table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rollno</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    {% for data in result_data %}
    <tr>
        <td>{{data.user.username}}</td>
        <td>{{data.user.userid}}</td>
        <td>{{data.status}}</td>
        <td>{{data.timestamp}}</td>
    </tr>
    {% endfor %}
</table>