<div class="container">
    <div class="row">
        {% for pool in pools %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card mt-2 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ pool.subject.subject_name }}</h5>
                    <p class="card-text">{{ pool.datefield }}</p>
                    <p class="card-text font-weight-normal">Duration: {{ pool.duration_display }}</p>
                    <p class="card-text font-weight-normal">Subject Code: {{ pool.subject.subject_code }}</p>
                    <p class="card-text font-weight-normal">
                        Semester: {{ pool.subject.sem }} | Department: {{ pool.subject.dept }}
                    </p>
                </div>
                <div class="card-body text-right">
                    <a class="btn btn-light" href="{% url 'staffs_pool_view' pk=pool.id %}">Visit session</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
      </div>