{% for request in requests %}
<div class="card" style="width: 22rem;">
    <div class="card-body text-start">
        <h6 class="card-title mb-3 alert alert-info">{{request.request_type}}</h6>
        <hr>
        <p class="card-subtitle mb-2 text-muted">student name: {{request.user.username}}</hp>
            <hr>
        <p class="card-text text-muted mb-3">student roll number: {{request.user.userid}}</p>
        <hr>
        <button type="button" class="btn btn-success accept-request"
                value="{% url 'addRequestByStaff' pk=request.id %}">Accept</button>
        <button type="button" class="btn btn-danger reject-request"
                value="{% url 'delete_requests' pk=request.id %}">Reject</button>
    </div>
</div>
{% endfor %}



