{% extends 'base.html' %}

{% block jsscript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" /> 
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block login %}
    <a class="nav-item nav-link ml-3 pl-2 btn btn-light rounded-lg border-info shadow-sm" href="{% url 'staffs' %}">Profile</a>
{% endblock %}

{% block content %}

<div class ="container  mr-3 mt-1 p-2  rounded">
          
  <div class="card-body mx-1 mt-1 shadow">
    <h1 class="h3 mb-2 font-weight-normal card-title">SessionInformation</h1>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Subject Name</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{pool.subject.subject_name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Subject Code</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{pool.subject.subject_code}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Class timings</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{pool.duration_display}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Handling Staff</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{pool.subject.handling_staff.username}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Session date</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{pool.datefield}}</p>
      </div>
    </div>
    <hr>
    {% if pool.is_alive %}
      <div class="row text-center">
        <div class="col-sm-6">
          <p class="mb-3 font-serif">pool status - Active</p>
        </div>
        <div class="col-sm-6">
          <p class="text-muted mb-0"><a class = "btn btn-danger" href="{% url 'turnoff' pk=pool.id %}">Turn off</a></p>
        </div>
      </div>
    <hr>
  </div>
  {% else %}
    <div class="row text-center">
      <div class="col-sm-6">
        <p class="mb-3 font-serif">pool status - Inactive</p>
      </div>
      <div class="col-sm-6">
        <p class="text-muted mb-0"><a class = "btn btn-success" href="{% url 'turnon' pk=pool.id %}">Turn on</a></p>
      </div>
    </div>
    </div>
  <hr>
  </div>
  {% endif %}
</div>

<hr class = "shadow my-4">

    <div class = "container my-3 mx-2 p-2" id = "attendance table">
      <div class = "mb-3">
        <h6 class="font-weight-normal font-serif">View Recieved attendance for this session</h6>
      </div>
      <button id = "refresh-data" class = "btn btn-sm btn-info p-1">Refresh table</button>

      <div id = "table-content" class = "my-2 shadow-sm ">
      
      </div>
    </div>
<hr class = "shadow my-4">

<div id = "requestSection" class = "container my-3  text-start">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h6 class="font-weight-normal">View Requests for this session</h6>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <div class="container" id = "poolRequests">    
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

    <script>
        var headers = {
              'X-CSRFToken': getCSRFToken()
            };
            var pool_id = {{pool.id}};
        function updateTable() {
            $.ajax({
              url: '{% url "GetTableData" %}',  
              type: 'POST',
              headers:headers,
              data:{"pk":pool_id},
              success: function (data) {
                $('#table-content').html(data.html_content);
                $("#datatable").DataTable();
                console.log(data.html_content)
              }
            });
          }

          $(document).ready(function () {
            updateTable();
          });

          $('#refresh-data').click(function () {
            updateTable();
          });
          $('#refresh-requests').click(function () {
            updateRequests();
          });


          function updateRequests() {
            $.ajax({
              url: '{% url "get_requests" pk=pool.id %}',
              type: 'GET',
              headers:headers,
              success: function (data) {
                $('#poolRequests').html(data.html_content);
                console.log(data.html_content)
              }
            });
          }

          $(document).ready(function () {
            updateRequests();
            
          });


          $('#poolRequests').on('click', '.accept-request', function() {
            var url = $(this).val();
            console.log('Accept URL:', url);
            $.ajax({
              url: url,
              type: 'GET',
              headers:headers,
              success: function (data) {
                console.log(data);
                updateRequests();
              }
            });
        });

          $('#poolRequests').on('click', '.reject-request', function() {
            var url = $(this).val();
            console.log('Accept URL:', url);
            
            $.ajax({
              url: url,
              type: 'POST',
              headers:headers,
              success: function (data) {
                console.log(data);
                updateRequests();
              }
            });
          });
    </script>

{% endblock %}


