{% extends 'base.html' %}

{% block content %}

  
  <h1>your staff id is: {{user_id}}</h1>
  <h1>you have created a pool with id: {{poolid}}</h1>

  <h3>pools created in this week</h3>
  {% for pool in pools %}

  <h1>you have created a pool with id: {{pool.id}}</h1>
  <h1>you have created a pool with created user: {{pool.created_by}}</h1>
  <h1>you have created a pool for the subject: {{pool.subject.subject_code}}</h1>
  <a href = "{% url 'staffs_pool_view' pk=pool.id %}">go to pool</a>
  {% endfor %}
<br>
<hr>
<br>
<h3>pools created in this month</h3>
  {% for pool in past_pools %}
  <h1>you have created a pool with id: {{pool.id}}</h1>
  <h1>you have created a pool with created user: {{pool.created_by}}</h1>
  <h1>you have created a pool for the subject: {{pool.subject.subject_code}}</h1>
  <a href = "{% url 'staffs_pool_view' pk=pool.id %}">go to pool</a>
  {% endfor %}


  <a href = '{% url 'add_atendance_pool' %}'>add a new pool here</a>

{% endblock %}