{% extends 'base.html' %}

{% block content %}

        <div>
                    
                <H2>{{pool}}</H2>
            </div>
            <div>
                <h3>start time : {{pool.start_time}}, end time : {{pool.end_time}}</h3>
            </div>
            <div>
                <h3>
                    pool id : {{pool.id}}
                subject code : {{pool.subject.subject_code}}<br>
                subject name : {{pool.subject.subject_name}}<br>
                handled by : {{pool.subject.handling_staff.username}}<br>
                </h3>
            </div>
                <br>
                <br>
                <hr>
                <hr>
        </div>

        <button id="postButton">mark presence</button>

        <br><hr>
        <button id="refreshbtn">mark presence</button>
        <hr>
        <p id = "message"></p>


        <hr>
        <table>
            <tr>
                <th>student name</th>
                <th>student rollno</th>
                <th>status</th>
                <th>timestamp</th>
            </tr>
            {% for data in result_data %}
            <tr>
                <td>{{data.user.username}}</td>
                <td>{{data.user.userid}}</td>
                <td>{{data.status}}</td>
                <td>{{data.timestamp}}</td>
            </tr>
            {% endfor %}
        </table>

        <script>
          // Function to make a POST request
          function makePostRequest() {
            // Data to be sent in the POST request
            var pool_id = {{ pool.id }};
            var headers = {
              'X-CSRFToken': getCSRFToken()
            };
        
            // Make the POST request using jQuery.ajax()
            $.ajax({
              type: 'POST',
              url: "{% url 'mark_presence' %}", // Replace with your URL pattern name
              data: { "pool_id": pool_id },
              headers: headers,
              success: function (response) {
                console.log('POST request successful', response);
                checkAccessAndUpdateMessages();
                // Handle the response here
              },
              error: function (error) {
                console.error('Error in POST request', error);
                // Handle the error here
              }
            });
          }
        
          // Function to check access and update messages
          function checkAccessAndUpdateMessages() {
            // Data to be sent in the POST request
            var pool_id = {{ pool.id }};
            var headers = {
              'X-CSRFToken': getCSRFToken()
            };
        
            // Make the POST request using jQuery.ajax()
            $.ajax({
              type: 'POST',
              url: "{% url 'check_access' %}", // Replace with your URL pattern name
              data: { "pool_id": pool_id },
              headers: headers,
              success: function (data) {
                console.log(data);
        
                // Update the HTML with the response data
                
        
                // Check if "message" and "true" are present in the response
                if (data.roll_message === "true" && data.ip_message === "true") {
                  // If both conditions are true, show the Post button
                  $('#postButton').show();
                  document.getElementById('message').innerHTML = `
                    <strong>Roll Number Message:</strong> ${"You didn't mark your attendance yet"}<br>
                    <strong>IP Address Message:</strong> ${"Your device is allowed to make the present"}<br>
                    <strong>User IP:</strong> ${"Your IP address was obtained as: " + data.user_ip}
                  `;
                } else if (data.roll_message === "false" && data.ip_message === "true") {
                  // If Roll number condition is false, but IP condition is true
                  $('#postButton').hide();
                  document.getElementById('message').innerHTML = `
                    <strong>Roll Number Message:</strong> ${"You already marked your attendance"}<br>
                    <strong>IP Address Message:</strong> ${"Your device is allowed to make the present"}<br>
                    <strong>User IP:</strong> ${"Your IP address was obtained as: " + data.user_ip}
                  `;
                } else if (data.roll_message === "true" && data.ip_message === "false") {
                  // If Roll number condition is true, but IP condition is false
                  $('#postButton').hide();
                  document.getElementById('message').innerHTML = `
                    <strong>Roll Number Message:</strong> ${"You didn't mark your attendance yet"}<br>
                    <strong>IP Address Message:</strong> ${" but Your device is not allowed to make the present"}<br>
                    <strong>User IP:</strong> ${"Your IP address was obtained as: " + data.user_ip}
                  `;
                } else {
                  // If both conditions are false
                  $('#postButton').hide();
                  document.getElementById('message').innerHTML = `
                    <strong>Roll Number Message:</strong> ${"You already marked your attendance"}<br>
                    <strong>IP Address Message:</strong> ${"Your device is not allowed to make the present"}<br>
                    <strong>User IP:</strong> ${"Your IP address was obtained as: " + data.user_ip}
                  `;
                }
              },
              error: function (error) {
                console.error('Error in POST request', error);
                // Handle the error here
              }
            });
          }
          
          checkAccessAndUpdateMessages();
          // Attach a click event to the button for checking access
          $(document).ready(function () {
            $('#refreshbtn').click(function () {
              checkAccessAndUpdateMessages();
            });
          });
        
          // Attach a click event to the Post button for making the POST request
          $(document).ready(function () {
            $('#postButton').click(function () {
              makePostRequest();
              
            });
          });
        </script>
        

{% endblock %}